.container{
    background-image: linear-gradient(#ffffff, #d7dfe0);
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    overflow-x:hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}